* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    padding: 20px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 5fr 2fr 2fr 2fr;
}

.box {
    color: white;
    display: flex;
    font-size: 20px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: darkblue;
}

.menu {
    background-color: darkred;
}

.hero {
    background-color: cadetblue;
}

.main {
    background-color: darkblue;
}

.banner {
    background-color: yellow;
}

.image {
    background-color: lightseagreen;
}

.extra {
    background-color: lawngreen;
}

.box:nth-child(1) {
    grid-area: 1 / 1 /2 /2;
}

.box:nth-child(2) {
    grid-area: 1 / 2 / 2 /5;
}

.box:nth-child(3) {
    grid-area: 2 / 1 / 3 / 5;
}

.box:nth-child(4) {
    grid-area: 3 / 1 / 5 / 3;
}

.box:nth-child(5) {
    grid-area: 5 / 1 / 6 / 5;
}

.box:nth-child(6) {
    grid-area: 3 / 4 / 4 / 5;
}

.box:nth-child(7) {
    grid-area: 4 / 4 / 4 / 5;
}


@media only screen and (max-width: 768px) {
    .container {

        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 5fr 4fr 2fr 2fr;
    }

    .box:nth-child(1) {
        grid-area: 1 / 1 / 2 / 5;
    }

    .box:nth-child(2) {
        grid-area: 3 / 1 / 6 / 2;
    }

    .box:nth-child(3) {
        grid-area: 2 / 1 / 3 / 5;
    }

    .box:nth-child(4) {
        grid-area: 3 / 2 / 4 / 5;
    }

    .box:nth-child(5) {
        grid-area: 4 / 2 / 5 / 5;
    }

    .box:nth-child(6) {
        grid-area: 5 / 3 / 6 / 4;
    }

    .box:nth-child(7) {
        grid-area: 5 / 2 / 6 / 3;
    }
}


@media only screen and (max-width: 480px)
{
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr repeat(2,3fr) repeat(3,2fr);
    }

    .box:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .box:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
    }

    .box:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
    }

    .box:nth-child(4) {
        grid-area: 4 / 1 / 5 / 2;
    }

    .box:nth-child(5) {
        grid-area: 5 / 1 / 6 / 2;
    }

    .box:nth-child(6) {
        grid-area: 6 / 1 / 7 / 2;
    }

    .box:nth-child(7) {
        grid-area: 7 / 1 / 8 / 2;
    }
}
